@import "../../global.scss";

.topbar {
  width: 100%;
  height: 75px;
  background-color: $maincolor;
  position: fixed;
  top: 0;
  z-index: 3;
  @include desktop {
    height: 133px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      width: 150px;
      height: 75px;
      justify-content: center;
      align-items: center;
      background: #000;
      @include desktop {
        width: 250px;
        height: 133px;
        background: #ff0253;
      }
      .logo {
        width: 111px;
        height: 30px;
        background: #000 url(../../assets/img/logoHeaderMobile.png) center
          center / 111px 30px no-repeat;
        @include desktop {
          width: 186px;
          height: 50px;
          background: #ff0253 url(../../assets/img/logoHeaderDesktop.png) center
            center / 186px 50px no-repeat;
        }
      }
    }
    .right {
      .hamburger {
        display: flex;
        flex-direction: column;
        width: 32px;
        height: 25px;
        justify-content: space-between;
        cursor: pointer;
        span {
          width: 100%;
          height: 3px;
          background-color: #ff0253;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }
  &.active {
    background-color: #000;
    .hamburger {
      span {
        &:first-child {
          background-color: #ff0253;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: #ff0253;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
